<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Begin custom configuration sections -->
  <configSections>
    <section  name="GlassfishSubscriberConfiguration" type="GlassfishSubscriber.GlassfishSubscriberConfiguration, GlassfishSubscriber" allowLocation="true" allowDefinition="Everywhere" />
    <section  name="StompConnectConfiguration" type="GlassfishSubscriber.StompConnectConfiguration, GlassfishSubscriber" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <!-- Used by the service to save received messages on disk; -->
  <!--storagelocation is used to create a temp directory on disk and save messages in it; 
      if "DBconnectionstring" is empty behavior is designed to save messages to disk;-->
  <!--basefilename is used as filename prefix; internally destination name also gets prefixed with file name-->
  <GlassfishSubscriberConfiguration>
    <StorageConfiguration saveondisk ="true" storagelocation="C:\" basefilename="GlassFish_Message_" />
  </GlassfishSubscriberConfiguration>

  <!-- Used by service to connect to StompConnect instance on glassfish server -->
  <StompConnectConfiguration>
    <Destinations>
      <!-- destinations to subscribe-->
      <Destination  type ="topic" host="localhost" port="6666" username="" password="" name="MyTopic"/>
      <Destination  type ="topic" host="localhost" port="6666" username="" password="" name="MyTopic2"/>
      <Destination  type ="queue" host="localhost" port="6667" username="" password="" name="MyQueue"/>

      <!--Negative test case; Unsupported hypothetical destination type-->
      <Destination  type ="magzine" host="localhost" port="6667" username="" password="" name="MyMagzine"/>
    </Destinations>
  </StompConnectConfiguration>
  <!-- End custom configuration sections -->
  <connectionStrings>
    <add name="DBconnectionstring" connectionString="" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add type="System.Diagnostics.TextWriterTraceListener" name="TextWriter" initializeData="c:\GlassfishSubscriberService.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--<system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>-->
</configuration>